RewriteEngine On
RewriteBase /PHP-BLOG-API/

# Denegar el acceso directo a los archivos dentro del directorio 'routes'
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^routes/ - [F]

# Denegar el acceso directo a los archivos dentro del directorio 'models'
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^models/ - [F]

# Denegar el acceso directo a los archivos dentro del directorio 'config'
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^config/ - [F]

# Redirigir todas las solicitudes que no sean archivos existentes a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]